<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BuildBundlerMinifier" version="2.8.391" />
  <package id="cldrjs" version="0.5.0" />
  <package id="javascript-detect-element-resize" version="0.5.3" />
  <package id="jQuery" version="3.3.1" />
  <package id="jQuery.Layout" version="1.40.3" />
  <package id="jQuery.UI.Combined" version="1.12.1" />
  <package id="jquery-globalize" version="1.3" />
  <package id="knockoutjs" version="3.4.2" />
  <package id="Moment.js" version="2.22.2" />
  <package id="Moment.Timezone.js" version="0.5.13" />
  <package id="numeral" version="2.0.4" />
</packages>