<%@ Template Language="C#" Src="..\BaseTemplate.cst.cs" Inherits="Generator.BaseTemplate" TargetLanguage="Java" Description="Create a class from database Table." %>
<%@ Assembly Name="SchemaExplorer" %>

<%@ Import Namespace="SchemaExplorer" %>

<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="Context" Description="Table that the object is based on." %>

<% %>
package id.co.aio.sfa.bo;

public class <%= SourceTable.Name %>BO {                

    //--------------------------------------------------------------------------------------------------
    // Fields
    //--------------------------------------------------------------------------------------------------
<%
foreach(ColumnSchema c in SourceTable.Columns)
{
    string systemTypeString = GetSystemTypeString(Map.Load(GetMapFileFullName("System-JavaAlias.csmap")),
        Map.Load(GetMapFileFullName("System-JavaNullable.csmap")), c.SystemType.FullName, c.AllowDBNull);
%>
    private <%= systemTypeString %> _<%= c.Name %>;
<%
}
%>

    //--------------------------------------------------------------------------------------------------
    // Getter & Setter
    //--------------------------------------------------------------------------------------------------
<%
foreach(ColumnSchema c in SourceTable.Columns)
{
    string systemTypeString = GetSystemTypeString(Map.Load(GetMapFileFullName("System-JavaAlias.csmap")),
        Map.Load(GetMapFileFullName("System-JavaNullable.csmap")), c.SystemType.FullName, c.AllowDBNull);
%>
    
    public <%= systemTypeString %> get<%= c.Name %>() { return _<%= c.Name %>; }    
    public void set<%= c.Name %>(<%= systemTypeString %> value) { _<%= c.Name %> = value; }
<%
}
%>

}
